<div id="<?$_name?>"  class="atk-notification ui-state-highlight ui-corner-all ">
				<div class="atk-notification-text">
					<h4><?$header?></h4>
					<i class="ui-icon ui-icon-info"></i>
					<?Content?>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.<?/?>
				</div>
				<a href="#" class="ui-icon ui-icon-closethick"></a>
			</div>